/* mixin */
@import "blocks/mixin.scss";

/* header */
@import "blocks/header.scss";

/* main */
@import "blocks/main.scss";

/* section category page */
@import "blocks/category-page.scss";

@import "blocks/breadcrumbles.scss";

/* section reviews */
@import "blocks/reviews.scss";

/* footer */
@import "blocks/footer.scss";

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;

  outline: 1px solid red;
}

.hidden-section {
  @include hidden();
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  outline: 1px solid blue;
}

.main {
  flex-grow: 1;
  outline: 5px solid green;
}

@media (min-width: 620px) {
  .container {
    padding: 0px 0px;
  }
}
