/* mixin */
/* mixin */
/* header */
/* mixin */
/* mixin */
/* header logo */
.header {
  border-bottom: 1px solid #03a9f4;
}

.nav,
.logo-href {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 30%;
}

.logo-href {
  color: #03a9f4;
  text-decoration: none;
}

.title {
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 0.65;
  padding-top: 12px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

/* header menu */
.main-nav {
  position: relative;
}
.main-nav:hover .header-menu {
  transform: scale(1, 1);
}

.burger {
  padding-top: 15px;
  width: 20px;
  height: 20px;
  display: block;
  background-color: #ffffff;
  border: none;
}

.burger span {
  width: 18px;
  height: 2px;
  display: block;
  background-color: #03a9f4;
}

.burger::before {
  margin-bottom: 3px;
  background-color: #03a9f4;
}

.burger::after {
  margin-top: 3px;
  background-color: #03a9f4;
}

.burger::before,
.burger::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
}

.drop-menu {
  position: fixed;
  right: -15px;
  top: 20px;
  padding: 30px 10px;
  width: 250px;
  background-color: #ffffff;
  outline: 1px solid #03a9f4;
  border-radius: 16px;
}

.header-menu {
  transform: scale(0, 0);
  transform-origin: right top;
  transition: 0.5s;
}

/* menu */
.menu {
  list-style: none;
}

.menu-list {
  padding-bottom: 10px;
}

.menu-link {
  text-decoration: none;
}

.menu-link,
.link-list {
  font-family: "Gabriela", serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.link-list {
  display: block;
}

.link-list::-webkit-details-marker {
  display: none;
}

.link-list::after {
  margin-left: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background: url("../img/caret.png") no-repeat;
  padding-right: 0.5em;
  background-size: 15px;
  transform: rotateZ(90deg);
  translate: 0px 10px;
}

.list[open] > summary::after {
  content: "";
  background: url("../img/caret.png") no-repeat;
  background-size: 15px;
  transform: rotateZ(-90deg);
  translate: 0px -3px;
}

.list-menu {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 620px) {
  /* header logo */
  .logo {
    width: 25%;
  }
  .title {
    font-size: 25px;
  }
  .logo-img {
    width: 50px;
    height: 50px;
  }
  /* header menu */
  .burger {
    display: none;
  }
  .header-menu {
    transform: scale(1, 1);
    transform-origin: right top;
    transition: 0.5s;
  }
  .drop-menu {
    position: relative;
    top: 0;
    right: 5px;
    padding: 0px;
    margin: 0px;
    min-width: 470px;
    border-radius: inherit;
    outline: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;
  }
  .list-menu {
    position: fixed;
  }
  .menu-link,
  .link-list {
    font-size: 20px;
  }
  .menu-list:nth-child(4),
  .menu-list:nth-child(5) {
    display: none;
  }
  .list-menu {
    padding: 10px 10px 10px 20px;
    width: 170px;
    background-color: #ffffff;
    border: 1px solid #03a9f4;
    border-radius: 16px;
  }
}
/* main */
.main-page-container {
  background-color: #d7dcdf;
}

.main-container {
  min-height: 750px;
  background: url("../img/main-img.jpg") center top no-repeat;
}

/* section category page */
/* mixin */
/* mixin */
.category-main-container {
  border-top: 1px solid #03a9f4;
}

/* items */
.items {
  margin: 30px 0px;
}

.item::-webkit-details-marker {
  display: none;
}

.item {
  font-family: "Gabriela", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #03a9f4;
  translate: 170px 120px;
  list-style: none;
  transition: 0.5s;
}

.item-cart {
  margin-bottom: 50px;
  min-width: 280px;
  max-width: 500px;
  height: 150px;
  background: url(../img/sobor.jpg) no-repeat;
  background-size: 100% 100%;
  outline: 1px solid #03a9f4;
  border-radius: 16px;
}

.item-list[open] {
  padding-bottom: 100px;
  border-radius: 16px 16px 0px 0px;
}

.item-desc {
  width: 280px;
  translate: 0px 110px;
  outline: 1px solid #03a9f4;
  border-radius: 0px 0px 16px 16px;
}

.item-desc {
  font-family: "Gabriela", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.item-title {
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
}

.item-text {
  padding: 50px 20px;
  font-size: 14px;
}

.details {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transition: 0.3s;
  overflow: hidden;
}

.details[open] {
  padding-bottom: 100px;
}

.details[open] .details__title {
  margin-bottom: 32px;
}

.details__title {
  background: #fff;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
  list-style: none;
  font-weight: 700;
  transition: 0.3s;
}

.details__title::-webkit-details-marker {
  display: none;
}

.details__content {
  padding: 0 32px;
  font-size: 18px;
}

/* mixin */
/* mixin */
/* breadcrumbles */
.breadcrumbles {
  padding: 10px 0px;
}

.menu-breadcrumbles {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.menu-link-breadcrumbles,
.menu-link-breadcrumbles-bold {
  font-family: "Gabriela", serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-decoration: none;
}
.menu-link-breadcrumbles:hover,
.menu-link-breadcrumbles-bold:hover {
  color: #000000;
}
.menu-link-breadcrumbles:active,
.menu-link-breadcrumbles-bold:active {
  color: #000000;
}

.menu-link-breadcrumbles-bold {
  color: #000000;
}

.menu-link-breadcrumbles {
  color: rgba(0, 0, 0, 0.6);
}

.arrow-menu-breadcrumbles {
  width: 10px;
  height: 10px;
  display: inline-block;
  padding: 5px;
  background: url(../img/caret.png) no-repeat;
  background-size: 10px;
}

/* section reviews */
/* footer */
/* mixin */
/* mixin */
.footer-container {
  background-color: #d7dcdf;
}

.info {
  margin: 0px;
  font-family: "Gabriela", serif;
  font-size: 8px;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.footer-menu {
  padding-top: 10px;
}

.icon-img {
  width: 15px;
  height: 15px;
  color: #03a9f4;
}

.footer-menu-list:nth-child(1),
.footer-menu-list:nth-child(2) {
  display: none;
}

@media (min-width: 620px) {
  .info {
    font-size: 10px;
  }
  .icon-img {
    width: 25px;
    height: 25px;
  }
  .footer-menu {
    min-width: 480px;
  }
  .footer-menu-list:nth-child(1),
  .footer-menu-list:nth-child(2) {
    display: block;
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}

.hidden-section {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  outline: 1px solid blue;
}

.main {
  flex-grow: 1;
  outline: 5px solid green;
}

@media (min-width: 620px) {
  .container {
    padding: 30px 0;
  }
}/*# sourceMappingURL=style.css.map */