@charset "UTF-8";
/* mixin */
/* mixin */
/* header */
/* mixin */
/* mixin */
/* header logo */
.header {
  border-bottom: 1px solid #03a9f4;
}

.nav,
.logo-href {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 30%;
}

.logo-href {
  color: #03a9f4;
  text-decoration: none;
}

.title {
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 0.65;
  padding-top: 12px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

/* header menu */
.main-nav {
  position: relative;
}
.main-nav:hover .header-menu {
  transform: scale(1, 1);
}

.burger {
  padding-top: 15px;
  width: 20px;
  height: 20px;
  display: block;
  background-color: #ffffff;
  border: none;
}

.burger span {
  width: 18px;
  height: 2px;
  display: block;
  background-color: #03a9f4;
}

.burger::before {
  margin-bottom: 3px;
  background-color: #03a9f4;
}

.burger::after {
  margin-top: 3px;
  background-color: #03a9f4;
}

.burger::before,
.burger::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
}

.drop-menu {
  position: fixed;
  right: -15px;
  top: 20px;
  padding: 30px 10px;
  width: 250px;
  background-color: #ffffff;
  outline: 1px solid #03a9f4;
  border-radius: 16px;
}

.header-menu {
  transform: scale(0, 0);
  transform-origin: right top;
  transition: 0.5s;
}

/* menu */
.menu {
  list-style: none;
}

.menu-list {
  padding-bottom: 10px;
}

.menu-link {
  text-decoration: none;
}

.menu-link,
.link-list {
  font-family: "Gabriela", serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.link-list {
  display: block;
}

.link-list::-webkit-details-marker {
  display: none;
}

.link-list::after {
  margin-left: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background: url("../img/caret.png") no-repeat;
  padding-right: 0.5em;
  background-size: 15px;
  transform: rotateZ(90deg);
  translate: 0px 10px;
}

.list[open] > summary::after {
  content: "";
  background: url("../img/caret.png") no-repeat;
  background-size: 15px;
  transform: rotateZ(-90deg);
  translate: 0px -3px;
}

.list-menu {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 620px) {
  /* header logo */
  .logo {
    padding-top: 10px;
    width: 25%;
  }
  .title {
    font-size: 25px;
  }
  .logo-img {
    width: 50px;
    height: 50px;
  }
  /* header menu */
  .burger {
    display: none;
  }
  .header-menu {
    transform: scale(1, 1);
    transform-origin: right top;
    transition: 0.5s;
  }
  .drop-menu {
    position: relative;
    top: 0;
    right: 5px;
    padding: 0px;
    margin: 0px;
    min-width: 470px;
    border-radius: inherit;
    outline: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;
  }
  .list-menu {
    position: fixed;
  }
  .menu-link,
  .link-list {
    font-size: 20px;
  }
  .menu-list:nth-child(4),
  .menu-list:nth-child(5) {
    display: none;
  }
  .list-menu {
    padding: 10px 10px 10px 20px;
    width: 170px;
    background-color: #ffffff;
    border: 1px solid #03a9f4;
    border-radius: 16px;
  }
}
/* main */
.main-page-container {
  background-color: #d7dcdf;
}

.main-container {
  height: 600px;
  background: url("../img/main-img.jpg") center top no-repeat;
}

@media (min-width: 620px) {
  .main-container {
    height: 750px;
  }
}
/* section category page */
/* mixin */
/* mixin */
.category-main-container {
  border-top: 1px solid #03a9f4;
}

/* items */
.items-container {
  margin: 30px 0px;
}

/* item cart */
.item-cart {
  position: relative;
  min-width: 280px;
  margin-bottom: 30px;
  /*shadow */
  outline: 1px solid #d6d3d3;
  border-bottom: 2px solid #c4c2c2;
  border-radius: 16px;
}

.item-cart-desc,
.item-title {
  font-family: "Gabriela", serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #03a9f4;
  display: flex;
  justify-content: space-between;
}

.item-cart-desc {
  padding: 0px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.item-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 16px 16px 0px 0px;
}

.item-title::-webkit-details-marker {
  display: none;
}

.item-title {
  padding: 20px;
  list-style: none;
  transition: 1s;
}

.item-title::after {
  display: inline-block;
  content: "подробнее ...";
  font-size: 14px;
}

.item-list[open] > summary::after {
  content: "закрыть";
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(3, 244, 13, 0.6196078431);
}

.item-list[open] {
  border-radius: 16px 16px 0px 0px;
}

/* section item desc */
.item-desc {
  font-family: "Gabriela", serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.item-text {
  padding: 50px 20px;
  font-size: 14px;
}

.basic-info {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.basic-info-list,
.basic-info-list-link {
  margin: 0px 0px 20px 10px;
  padding: 10px;
  width: 260px;
  height: 100px;
  border-radius: 16px;
  align-content: center;
}

.basic-info-list {
  outline: 1px solid #03a9f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basic-info-list-link {
  outline: 2px solid #03a9f4;
  text-align: center;
  transition: 1s;
}
.basic-info-list-link:focus {
  outline: 2px solid #ffffff;
  box-shadow: 1px 1px 10px rgba(3, 244, 13, 0.6196078431);
}
.basic-info-list-link:hover {
  outline: 2px solid #ffffff;
  box-shadow: 1px 1px 10px rgba(3, 244, 13, 0.6196078431);
}

.order-link {
  font-family: "Gabriela", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #03a9f4;
  text-decoration: none;
  font-weight: 600;
}
.order-link:hover {
  color: 1px 1px 2px rgba(3, 244, 13, 0.6196078431);
}

.basic-info-icon {
  margin-right: 5px;
}

.item-desc-img,
.basic-info-icon {
  width: 20px;
  height: 20px;
}

.item-desc-title {
  padding: 25px 5px 5px 5px;
}

.item-desc-text {
  padding-left: 10px;
  flex-grow: 1;
  text-align: end;
  align-content: center;
  font-weight: 600;
}

.item-desc-table {
  list-style-type: none;
  padding: 0;
}

.item-desc-list {
  padding: 10px 0px;
}

.item-desc-list-title {
  font-weight: 600;
}

@media (min-width: 620px) {
  .item-img {
    height: 250px;
  }
  .item-text,
  .item-cart-desc,
  .item-desc-list-title {
    font-size: 16px;
  }
  .item-title {
    font-size: 20px;
  }
  .item-list[open] > summary::after {
    content: "закрыть";
    font-size: 16px;
    padding-top: 15px;
  }
  .item-title::after {
    display: inline-block;
    content: "подробнее ...";
    font-size: 16px;
    padding-top: 15px;
  }
  .basic-info-list,
  .basic-info-list-link {
    margin: 0px 0px 20px 20px;
  }
}
@media (min-width: 700px) {
  .item-img {
    height: 300px;
  }
  .basic-info-list,
  .basic-info-list-link {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .item-text,
  .item-cart-desc {
    font-size: 20px;
  }
  .item-title {
    font-size: 25px;
  }
  .item-list[open] > summary::after {
    content: "закрыть";
    font-size: 20px;
  }
  .item-title::after {
    display: inline-block;
    content: "подробнее ...";
    font-size: 20px;
  }
}
/* mixin */
/* mixin */
/* breadcrumbles */
.breadcrumbles {
  padding: 10px 0px;
}

.menu-breadcrumbles {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.menu-link-breadcrumbles,
.menu-link-breadcrumbles-bold {
  font-family: "Gabriela", serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-decoration: none;
}
.menu-link-breadcrumbles:hover,
.menu-link-breadcrumbles-bold:hover {
  color: #000000;
}
.menu-link-breadcrumbles:active,
.menu-link-breadcrumbles-bold:active {
  color: #000000;
}

.menu-link-breadcrumbles-bold {
  color: #000000;
}

.menu-link-breadcrumbles {
  color: rgba(0, 0, 0, 0.6);
}

.arrow-menu-breadcrumbles {
  width: 10px;
  height: 10px;
  display: inline-block;
  padding: 5px;
  background: url(../img/caret.png) no-repeat;
  background-size: 10px;
}

/* section reviews */
/* footer */
/* mixin */
/* mixin */
.footer-container {
  background-color: #d7dcdf;
}

.info {
  margin: 0px;
  font-family: "Gabriela", serif;
  font-size: 8px;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.footer-menu {
  padding-top: 10px;
}

.icon-img {
  width: 15px;
  height: 15px;
  color: #03a9f4;
}

.footer-menu-list:nth-child(1),
.footer-menu-list:nth-child(2) {
  display: none;
}

@media (min-width: 620px) {
  .info {
    font-size: 10px;
  }
  .icon-img {
    width: 25px;
    height: 25px;
  }
  .footer-menu {
    min-width: 480px;
  }
  .footer-menu-list:nth-child(1),
  .footer-menu-list:nth-child(2) {
    display: block;
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}

.hidden-section {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  outline: 1px solid blue;
}

.main {
  flex-grow: 1;
  outline: 5px solid green;
}

@media (min-width: 620px) {
  .container {
    padding: 0px 0px;
  }
}/*# sourceMappingURL=style.css.map */