/* mixin */
@use "blocks/mixin.scss";

/* header */
@use "blocks/header.scss";

/* main */
@use "blocks/main.scss";

/* section category page */
@use "blocks/category-page.scss";

@use "blocks/breadcrumbls.scss";

/* section reviews */
@use "blocks/reviews.scss";

/* footer */
@use "blocks/footer.scss";

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}

.hidden-section {
  @include hidden();
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  outline: 1px solid blue;
}

.main {
  flex-grow: 1;
  outline: 5px solid green;
}

@media (min-width: 620px) {
  .container {
    padding: 30px 0;
  }
}
