/* mixin */
@import "mixin.scss";

/* breadcrumbles */
.breadcrumbls {
  padding: 10px 0px;
}

.menu-breadcrumbles {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.menu-list-breadcrumbles {
}

.menu-link-breadcrumbles,
.menu-link-breadcrumbles-bold {
  @include font(12px);

  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);

  &:hover {
    color: #000000;
  }

  &:active {
    color: #000000;
  }
}

.menu-link-breadcrumbles-bold {
  color: #000000;
}
