/* mixin */
@import "mixin.scss";

/* breadcrumbs */
.menu-breadcrumbs {
  display: flex;
  list-style: none;
}

.menu-list-breadcrumbs {
}

.menu-link-breadcrumbs {
  @include font(14px);

  text-decoration: none;
}
