/* mixin */
@import "mixin.scss";

/* breadcrumbles */
.breadcrumbles {
  padding: 10px 0px;
}

.menu-breadcrumbles {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.menu-link-breadcrumbles,
.menu-link-breadcrumbles-bold {
  @include font(12px);

  text-decoration: none;

  &:hover {
    color: #000000;
  }

  &:active {
    color: #000000;
  }
}

.menu-link-breadcrumbles-bold {
  color: #000000;
}

.menu-link-breadcrumbles {
  color: rgba(0, 0, 0, 0.6);
}

.arrow-menu-breadcrumbles {
  width: 10px;
  height: 10px;

  display: inline-block;

  padding: 5px;

  background: url(../img/caret.png) no-repeat;
  background-size: 10px;
}
