/* mixin */
@import "mixin.scss";

.category-main-container {
  border-top: 1px solid #03a9f4;
}

/* items */

.items-container {
  margin: 30px 0px;
}

/* item cart */

.item-cart {
  position: relative;

  min-width: 280px;

  margin-bottom: 30px;

  /*shadow */

  outline: 1px solid #d6d3d3;
  border-bottom: 2px solid #c4c2c2;
  -webkit-border-radius: 16px;

  border-radius: 16px;
}

.item-cart-desc,
.item-title {
  @include font(14px, #03a9f4);

  display: flex;
  justify-content: space-between;
}

.item-cart-desc {
  padding: 0px 20px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.item-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;

  border-radius: 16px 16px 0px 0px;
}

.item-title::-webkit-details-marker {
  display: none;
}

.item-title {
  padding: 20px;

  list-style: none;
  transition: 1s;
}

.item-title::after {
  display: inline-block;
  content: "подробнее ...";
  font-size: 14px;
}

.item-list[open] > summary::after {
  content: "закрыть";
  font-size: 14px;
  text-shadow: 1px 1px 2px #03f40d9e;
}

.item-list[open] {
  border-radius: 16px 16px 0px 0px;
}

/* section item desc */

.item-desc {
  @include font(14px);
}

.item-text {
  font-size: 14px;
}

.basic-info {
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.basic-info-list,
.basic-info-list-link {
  margin: 0px 0px 20px 10px;
  padding: 20px;
  width: 250px;
  height: 100px;

  border-radius: 16px;

  align-content: center;
}

.basic-info-list {
  outline: 1px solid #03a9f4;

  display: flex;
  justify-content: space-between;
}

.basic-info-list-link {
  outline: 2px solid #03a9f4;

  text-align: center;

  transition: 1s;

  &:focus {
    outline: 2px solid #ffffff;
    box-shadow: 1px 1px 10px rgba(3, 244, 13, 0.6196078431);
  }

  &:hover {
    outline: 2px solid #ffffff;
    box-shadow: 1px 1px 10px rgba(3, 244, 13, 0.6196078431);
  }
}

.order-link {
  @include font(16px, #03a9f4);

  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: 1px 1px 2px rgba(3, 244, 13, 0.6196078431);
  }
}

.basic-info-icon {
  padding-top: 10px;
  margin-right: 5px;
}

.item-desc-img,
.basic-info-icon {
  width: 20px;
  height: 20px;
}

.item-desc-text {
  padding-left: 10px;

  flex-grow: 1;
  text-align: end;
  align-content: center;

  font-weight: 600;
}

.item-text {
  padding: 50px 20px;
}

@media (min-width: 620px) {
  .item-img {
    height: 250px;
  }

  .item-text,
  .item-cart-desc {
    font-size: 16px;
  }

  .item-title {
    font-size: 20px;
  }

  .item-list[open] > summary::after {
    content: "закрыть";
    font-size: 16px;

    padding-top: 15px;
  }

  .item-title::after {
    display: inline-block;
    content: "подробнее ...";
    font-size: 16px;

    padding-top: 15px;
  }

  .basic-info-list,
  .basic-info-list-link {
    margin: 0px 0px 20px 20px;
  }
}

@media (min-width: 700px) {
  .item-img {
    height: 300px;
  }

  .basic-info-list,
  .basic-info-list-link {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .item-text,
  .item-cart-desc {
    font-size: 20px;
  }

  .item-title {
    font-size: 25px;
  }

  .item-list[open] > summary::after {
    content: "закрыть";
    font-size: 20px;
  }

  .item-title::after {
    display: inline-block;
    content: "подробнее ...";
    font-size: 20px;
  }
}
