/* mixin */
@import "mixin.scss";

.category-main-container {
  border-top: 1px solid #03a9f4;
}

/* items */

.items-container {
  margin: 30px 0px;
}

/* item cart */

.item-cart {
  min-width: 280px;
  max-width: 450px;

  margin-bottom: 30px;

  /*shadow */

  outline: 1px solid #d6d3d3;
  border-bottom: 2px solid #c4c2c2;
  -webkit-border-radius: 16px;

  border-radius: 16px;
}

.item-cart-desc,
.item-title {
  @include font(14px, #03a9f4);

  display: flex;
  justify-content: space-between;
}

.item-cart-desc {
  padding: 0px 20px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.item-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;

  border-radius: 16px 16px 0px 0px;
}

.item-title::-webkit-details-marker {
  display: none;
}

.item-title {
  padding: 20px;

  list-style: none;
  transition: 1s;
}

.item-title::after {
  margin-left: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background: url(../img/caret.png) no-repeat;
  padding-right: 0.5em;
  background-size: 12px;
  transform: rotateZ(90deg);
  translate: 0px 4px;
}

.item-list[open] > summary::after {
  content: "";
  background: url(../img/caret.png) no-repeat;
  background-size: 12px;
  transform: rotateZ(-90deg);
  translate: 0px -2px;
}

.item-list[open] {
  border-radius: 16px 16px 0px 0px;
}

/* section item desc */

.item-desc {
  @include font(14px);
}

.item-text {
  padding: 50px 20px;

  font-size: 14px;
}

.basic-info {
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.basic-info-list,
.basic-info-list-link {
  margin: 0px 0px 20px 10px;
  padding: 10px;
  width: 265px;
  height: 100px;

  border-radius: 16px;

  align-content: center;
}

.basic-info-list {
  outline: 1px solid #03a9f4;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basic-info-list-link {
  outline: 2px solid #03a9f4;

  text-align: center;

  transition: 1s;

  &:focus {
    outline: 2px solid #ffffff;
    box-shadow: 1px 1px 10px rgba(3, 244, 13, 0.6196078431);
  }

  &:hover {
    outline: 2px solid #ffffff;
    box-shadow: 1px 1px 10px rgba(3, 244, 13, 0.6196078431);
  }
}

.order-link {
  @include font(16px, #03a9f4);

  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: 1px 1px 2px rgba(3, 244, 13, 0.6196078431);
  }
}

.basic-info-icon {
  margin-right: 5px;
}

.item-desc-img,
.basic-info-icon {
  width: 20px;
  height: 20px;
}

.item-desc-title {
  padding: 25px 5px 5px 5px;
}

.item-desc-text {
  flex-grow: 1;
  text-align: end;
  align-content: center;

  font-weight: 600;
}

/* item desc list */

.item-desc-table {
  list-style-type: none;
  padding: 0;
}

.item-desc-list {
  padding: 10px 0px;
}

.item-desc-list-title {
  padding-left: 20px;
  font-weight: 600;
}

/* section gallery */

.gallery-container {
  padding: 50px 20px;
}

.gallery-title {
  padding-bottom: 20px;

  @include font(18px, #03a9f4);
  text-align: center;
}

@media (min-width: 420px) {
  .basic-info-list,
  .basic-info-list-link {
    width: 280px;
  }
}

@media (min-width: 620px) {
  .items-container {
    display: flex;
    justify-content: center;
  }

  .item-cart {
    width: 450px;
  }

  .item-text,
  .item-cart-desc,
  .item-desc-list-title {
    font-size: 16px;
  }

  .item-title,
  .gallery-title {
    font-size: 20px;
  }

  .item-list[open] > summary::after {
    background-size: 15px;
    translate: 0px 2px;
  }

  .item-title::after {
    background-size: 15px;
    translate: 0px 10px;
  }

  .basic-info-list,
  .basic-info-list-link {
    margin: 0px 0px 20px 20px;
  }
}

@media (min-width: 700px) {
  .basic-info-list,
  .basic-info-list-link {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .item-text,
  .item-cart-desc {
    font-size: 20px;
  }

  .item-title,
  .gallery-title {
    font-size: 25px;
  }

  .item-list[open] > summary::after {
    font-size: 20px;
  }

  .item-title::after {
    font-size: 20px;
  }
}
