/* mixin */
@import "mixin.scss";

.category-main-container {
  border-top: 1px solid #03a9f4;
}

/* items */

.items-container {
  margin: 30px 0px;
}

/* item cart */

.item-cart {
  min-width: 280px;
  max-width: 450px;

  margin-bottom: 30px;

  /*shadow */

  outline: 1px solid #d6d3d3;
  border-bottom: 2px solid #c4c2c2;
  -webkit-border-radius: 16px;

  border-radius: 16px;
}

.item-cart-desc,
.item-title {
  @include font(14px, #03a9f4);

  display: flex;
  justify-content: space-between;
}

.item-cart-desc {
  padding: 10px 20px;
  font-weight: 600;
}

.item-cart-img {
  width: 100%;
  height: 200px;

  background: url(../img/item-primary-school-science4.jpeg) center no-repeat;
  background-size: 100%;

  object-fit: cover;
  object-position: center;

  border-radius: 16px 16px 0px 0px;
}

.item-title::-webkit-details-marker {
  display: none;
}

.item-title {
  padding: 20px;

  list-style: none;
  transition: 1s;
}

.item-title::after {
  margin-left: 5px;
  content: "";

  @include arrow(20px, 20px, 12px, 90deg);

  translate: 0px 4px;
}

.item-list[open] > summary::after {
  content: "";
  @include arrow(20px, 20px, 12px, -90deg);

  translate: 0px -2px;
}

.item-list[open] {
  border-radius: 16px 16px 0px 0px;
}

/* section item desc */

.item-desc {
  @include font(14px);
}

.item-text {
  padding: 50px 20px;

  font-size: 14px;
}

.basic-info {
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style-type: none;
}

.basic-info-list {
  @include basic-border();

  margin-bottom: 20px;
}

.items-link {
  @include link-border-swadow();

  &:hover .item-link-title {
    color: #03a9f4;
  }
}

.item-link-title {
  @include font(18px);

  transition: 1s;
}

.basic-info-icon {
  margin: 20px 0px 0px 5px;
}

.item-desc-img,
.basic-info-icon {
  width: 20px;
  height: 20px;
}

.item-desc-title {
  padding: 25px 5px 5px 5px;
}

.item-desc-text {
  flex-grow: 1;
  text-align: end;
  align-content: center;

  font-weight: 600;
}

/* item desc list */

.item-desc-table {
  list-style-type: none;
  padding: 0;
}

.item-desc-list {
  padding: 10px 0px;
}

.item-desc-list-title {
  padding-left: 20px;
  font-weight: 600;
}

@media (min-width: 420px) {
  .basic-info-list,
  .items-link {
    width: 280px;
  }
}

@media (min-width: 620px) {
  .items-container {
    display: flex;
    justify-content: center;
  }

  .item-cart {
    width: 450px;
  }

  .item-text,
  .item-cart-desc,
  .item-desc-list-title {
    font-size: 16px;
  }

  .item-title {
    font-size: 20px;
  }

  .item-list[open] > summary::after {
    background-size: 15px;
    translate: 0px 2px;
  }

  .item-title::after {
    background-size: 15px;
    translate: 0px 10px;
  }

  .basic-info-list,
  .items-link {
    margin: 0px 0px 20px 20px;
  }
}

@media (min-width: 700px) {
  .basic-info-list,
  .items-link {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .item-text,
  .item-cart-desc {
    font-size: 20px;
  }

  .item-title {
    font-size: 25px;
  }

  .item-list[open] > summary::after {
    font-size: 20px;
  }

  .item-title::after {
    font-size: 20px;
  }
}
