/* mixin */
@import "mixin.scss";

.category-main-container {
  border-top: 1px solid #03a9f4;
}

/* items */

.items-container {
  margin: 30px 0px;
}

.item-cart {
  position: relative;

  min-width: 280px;

  margin-bottom: 30px;

  /*shadow */

  outline: 1px solid #d6d3d3;
  border-bottom: 2px solid #c4c2c2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 16px;
}

.item-cart-desc,
.item-title {
  @include font(14px, #03a9f4);
}

.item-cart-desc {
  position: absolute;
  top: 0px;
  padding: 0px 20px;

  min-width: 280px;

  display: flex;
  justify-content: space-between;
}

.item-img {
  width: 100%;
  height: 200px;

  border-radius: 16px 16px 0px 0px;
}

.item-title::-webkit-details-marker {
  display: none;
}

.item-title {
  padding: 20px;

  list-style: none;
  transition: 0.5s;
}

.item-list[open] {
  border-radius: 16px 16px 0px 0px;
}

.item-desc {
  padding: 20px;
  @include font(14px);
}

.item-text {
  font-size: 14px;
}

@media (min-width: 620px) {
  .item-img {
    height: 300px;
  }

  .item-text {
    @include font(16px);
  }

  .item-title {
    @include font(20px, #03a9f4);
  }
}

@media (min-width: 700px) {
  .item-img {
    height: 350px;
  }

  .item-text {
    @include font(20px);
  }

  .item-title {
    @include font(25px, #03a9f4);
  }
}

@media (min-width: 1024px) {
  .item-img {
    height: 650px;
  }

  .item-text {
    @include font(25px);
  }

  .item-title {
    @include font(35px, #03a9f4);
  }
}
