/* mixin */
@import "mixin.scss";

.category-main-container {
  border-top: 1px solid #03a9f4;
}

/* items */

.items-container {
  margin: 30px 0px;
}

/* item cart */

.item-cart {
  position: relative;

  min-width: 280px;

  margin-bottom: 30px;

  /*shadow */

  outline: 1px solid #d6d3d3;
  border-bottom: 2px solid #c4c2c2;
  -webkit-border-radius: 16px;

  border-radius: 16px;
}

.item-cart-desc,
.item-title {
  @include font(14px, #03a9f4);

  display: flex;
  justify-content: space-between;
}

.item-cart-desc {
  padding: 0px 20px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.item-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;

  border-radius: 16px 16px 0px 0px;
}

.item-title::-webkit-details-marker {
  display: none;
}

.item-title {
  padding: 20px;

  list-style: none;
  transition: 1s;
}

.item-title::after {
  display: inline-block;
  content: "подробнее ...";
  font-size: 14px;
}

.item-list[open] > summary::after {
  content: "закрыть";
  font-size: 14px;
  text-shadow: 1px 1px 2px #03f40d9e;
}

.item-list[open] {
  border-radius: 16px 16px 0px 0px;
}

/* section item desc */

.item-desc {
  padding: 20px;
  @include font(14px);
}

.item-text {
  font-size: 14px;
}

@media (min-width: 620px) {
  .item-img {
    height: 350px;
  }

  .item-text,
  .item-cart-desc {
    font-size: 16px;
  }

  .item-title {
    font-size: 25px;
  }

  .item-list[open] > summary::after {
    content: "закрыть";
    font-size: 16px;

    padding-top: 15px;
  }

  .item-title::after {
    display: inline-block;
    content: "подробнее ...";
    font-size: 16px;

    padding-top: 15px;
  }
}

@media (min-width: 700px) {
  .item-img {
    height: 450px;
  }

  .item-text,
  .item-cart-desc {
    font-size: 20px;
  }

  .item-title {
    font-size: 35px;
  }

  .item-list[open] > summary::after {
    content: "закрыть";
    font-size: 20px;
  }

  .item-title::after {
    display: inline-block;
    content: "подробнее ...";
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .item-img {
    height: 650px;
  }

  .item-text,
  .item-cart-desc {
    font-size: 25px;
  }

  .item-title {
    font-size: 45px;
  }

  .item-list[open] > summary::after {
    content: "закрыть";
    font-size: 25px;
  }

  .item-title::after {
    display: inline-block;
    content: "подробнее ...";
    font-size: 25px;
  }
}
