/* variables */
$primory-color: #03a9f4;

/* mixin */
@import "mixin.scss";

.category-main-container {
  border-top: 1px solid $primory-color;
}

/* items */

.items-container {
  padding: 50px 0px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

/* item cart */

.item-cart {
  min-width: 280px;
  max-width: 380px;

  margin-bottom: 30px;

  /*shadow */

  outline: 1px solid #d6d3d3;
  border-bottom: 2px solid #c4c2c2;
  -webkit-border-radius: 16px;

  border-radius: 16px;
}

.link-item-cart-desc {
  position: absolute;
  top: -1px;
  opacity: 0;

  text-decoration: none;
}

.item-cart-desc,
.item-title {
  @include font(20px, $primory-color);

  display: flex;
  justify-content: space-between;
}

.item-cart-desc {
  padding: 10px 20px;
  font-weight: 600;
}

.item-cart-img {
  width: 100%;
  height: 200px;

  background: url(../img/item-primary-school-science4.jpeg) center no-repeat;
  background-size: 100%;

  object-fit: cover;
  object-position: center;

  border-radius: 16px 16px 0px 0px;
}

.item-title::-webkit-details-marker {
  display: none;
}

.item-title {
  padding: 20px;

  list-style: none;
  transition: 1s;
}

.item-title::after {
  margin: 10px 0px 0px 10px;

  content: "";

  width: 20px;
  height: 20px;
  background: url("../img/icon-arrow-down.png") no-repeat;
  background-size: 60%;
  padding-right: 0.5em;
  display: inline-block;
}

.item-list[open] > summary::after {
  content: "";

  width: 20px;
  height: 20px;
  background: url("../img/icon-arrow-up.png") no-repeat;

  background-size: 60%;
  padding-right: 0.5em;
  display: inline-block;
}

.item-list[open] {
  border-radius: 16px 16px 0px 0px;
}

/* section item desc */

.item-desc {
  @include font(16px);
}

.item-text {
  padding: 50px 20px;

  font-size: 16px;
}

.basic-info {
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style-type: none;
}

.basic-info-list {
  @include border-blue();

  margin-bottom: 20px;
}

.items-link {
  @include basic-btn();

  &:hover .item-link-title {
    color: $primory-color;
  }
}

.item-link-title {
  @include font(18px);

  transition: 1s;
}

.basic-info-icon {
  margin: 20px 0px 0px 5px;
}

.item-desc-img,
.basic-info-icon {
  width: 20px;
  height: 20px;
}

.item-desc-title {
  padding: 25px 5px 5px 5px;
}

.item-desc-text {
  flex-grow: 1;
  text-align: end;
  align-content: center;

  font-weight: 600;
}

/* item desc list */

.item-desc-table {
  list-style-type: none;
  padding: 0;
}

.item-desc-list {
  padding: 10px 0px;
}

.item-desc-list-title {
  padding-left: 20px;
  font-weight: 600;
}

@media (min-width: 620px) {
  .items-container {
    padding: 50px 20px;

    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item-cart {
    margin: 10px;
  }

  .item-list[open] > summary::after {
    background-size: 70%;
  }

  .item-title::after {
    background-size: 70%;
  }

  .basic-info-list,
  .items-link {
    margin: 0px 0px 20px 20px;
    width: 300px;
  }
}

@media (min-width: 700px) {
  .item-details {
    position: absolute;
    opacity: 0;
  }

  .link-item-cart-desc {
    position: relative;

    opacity: 1;
  }

  .item-title::after {
    background: none;
  }
}

@media (min-width: 1024px) {
  .item-cart {
    max-width: 310px;
    margin: 0px 10px 0px 0px;
  }
}
