/* variables */
$primory-color: #03a9f4;
$main-background-color: #fff6ef;
/* $main-background-color: #d7dcdf; */

/* mixin */
@import "mixin.scss";

.gallery-page-container {
  padding: 50px 0px;
}

.gallery-list {
  margin: 0 auto;
  max-width: fit-content;
}

.gallery-img,
.gallery-line {
  margin-bottom: 20px;

  width: 300px;
  height: 220px;

  transition: 0.5s;
}

.gallery-line {
  &:hover .gallery-img {
    transform: scale(1.5);
  }

  &:hover .overlay {
    transform: scale(1);
  }
}

.gallery-img {
  border-radius: 16px;
}

.overlay {
  height: 220px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transform: scale(0);
  translate: 0px -200px;
  transition: 0.5s;
}

.gallery-link {
  @include basic-btn(220px, 50px);

  text-decoration: none;

  &:hover .gallery-link-title {
    color: $primory-color;
  }
}

.gallery-link-title {
  @include font();
}

@media (min-width: 620px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .gallery-line,
  .gallery-img {
    width: 380px;
  }
}

@media (min-width: 700px) {
  .gallery-line,
  .gallery-img {
    width: 320px;
  }
}
