/* variables */
$primory-color: #03a9f4;

/* mixin */
@import "mixin.scss";

/* header logo */

.header {
  border-bottom: 1px solid $primory-color;
}

.nav,
.logo-href {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 30%;
}

.logo-href {
  color: $primory-color;
  text-decoration: none;
}

.title {
  @include font-logo();

  padding-top: 12px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

/* header menu */
.main-nav {
  position: relative;

  &:hover .header-menu {
    transform: scale(1, 1);
  }
}

.burger {
  padding-top: 15px;

  width: 20px;
  height: 20px;

  display: block;
  background-color: #ffffff;
  border: none;
}

.burger span {
  width: 18px;
  height: 2px;

  display: block;

  background-color: $primory-color;
}

.burger::before {
  margin-bottom: 3px;
  background-color: $primory-color;
}

.burger::after {
  margin-top: 3px;
  background-color: $primory-color;
}

.burger::before,
.burger::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
}

.drop-menu {
  position: fixed;

  right: -15px;
  top: 20px;

  padding: 20px;

  width: 250px;

  background-color: #ffffff;
  outline: 1px solid $primory-color;
  border-radius: 16px;
}

.header-menu {
  transform: scale(0, 0);
  transform-origin: right top;
  transition: 0.5s;
}

/* menu */

.menu {
  list-style: none;
}

.menu-list {
  padding-bottom: 10px;
}

.menu-link {
  text-decoration: none;
}

.menu-link,
.link-list {
  @include font(20px, black);
}

.link-list {
  display: block;
}

.link-list::-webkit-details-marker {
  display: none;
}

.link-list::after {
  width: 20px;
  height: 17px;

  margin-left: 5px;

  content: "";

  padding-right: 0.5em;
  display: inline-block;
  background: url("../img/icon-arrow-down.png") no-repeat;
  background-size: 15px;
}

.list[open] > summary::after {
  width: 20px;
  height: 10px;
  content: "";

  background: url("../img/icon-arrow-up.png") no-repeat;
  background-size: 15px;
}

.list-menu {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 620px) {
  /* header logo */

  .logo {
    padding-top: 10px;

    width: 25%;
  }

  .title {
    font-size: 25px;
  }

  .logo-img {
    width: 50px;
    height: 50px;
  }

  /* header menu */

  .burger {
    display: none;
  }

  .header-menu {
    transform: scale(1, 1);
    transform-origin: right top;
    transition: 0.5s;
  }

  .drop-menu {
    position: relative;
    top: 0;
    right: 5px;

    padding: 20px 0px 0px 0px;
    margin: 0px;

    min-width: 460px;

    border-radius: inherit;
    outline: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }

  .list-menu {
    position: fixed;
  }

  .menu-link,
  .link-list {
    font-size: 20px;
  }

  .link-list::after {
    translate: 0px 2px;
  }

  .list[open] > summary::after {
    translate: 0px -1px;
  }

  .menu-list:nth-child(3),
  .menu-list:nth-child(5) {
    display: none;
  }

  .list-menu {
    padding: 10px 10px 10px 20px;
    width: 170px;
    background-color: #ffffff;
    border: 1px solid $primory-color;
    border-radius: 16px;
  }
}
