.header-container {
  padding: 10px;
}

/* header logo */

.nav,
.header-logo-href {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 30%;
}

.header-logo-href {
  color: #03a9f4;
  text-decoration: none;
}

.header-title {
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 0.65;
  padding-top: 12px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

/* header menu */

#menu {
  display: none;
}

.burger {
  padding-top: 5px;

  width: 20px;
  height: 20px;

  display: block;
  background-color: #ffffff;
}

.burger span {
  display: block;

  width: 18px;
  height: 2px;

  background-color: #03a9f4;
}

.burger::before {
  margin-bottom: 3px;
  background-color: #03a9f4;
}

.burger::after {
  margin-top: 3px;
  background-color: #03a9f4;
}

.burger::before,
.burger::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
}

.header-menu {
  margin-top: 20px;
  display: none;

  width: 100%;
  height: 100%;

  background-color: #d7dcdf;
  border: 1px solid #03a9f4;
}

#menu:checked ~ .header-menu {
  display: block;
  position: fixed;

  padding: 10px;

  left: 0;
  right: 0;

  box-sizing: border-box;
}

/* menu */

.menu {
  list-style: none;
}

.menu-link {
  text-decoration: none;
}

.menu-link,
summary {
  font-family: "Gabriela", serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  color: black;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  display: flex;
  width: 10px;
  height: 10px;
  content: "";
  background: url("../img/caret.png") no-repeat;
  padding-right: 0.5em;
  background-size: 10px;
  translate: 75px -10px;
  transform: rotateZ(90deg);
}

details[open] > summary::after {
  display: flex;
  content: "";
  background: url("../img/caret.png") no-repeat;
  background-size: 10px;
  translate: 75px -15px;
  transform: rotateZ(-90deg);
}
