/* header logo */

.nav,
.logo-href {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 30%;
}

.logo-href {
  color: #03a9f4;
  text-decoration: none;
}

.title {
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 0.65;
  padding-top: 12px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

/* header menu */

#menu {
  display: none;
}

.burger {
  padding-top: 15px;

  width: 20px;
  height: 20px;

  display: block;
  background-color: #ffffff;
}

.burger span {
  display: block;

  width: 18px;
  height: 2px;

  background-color: #03a9f4;
}

.burger::before {
  margin-bottom: 3px;
  background-color: #03a9f4;
}

.burger::after {
  margin-top: 3px;
  background-color: #03a9f4;
}

.burger::before,
.burger::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
}

.header-menu {
  margin-top: 20px;
  display: none;

  width: 100%;
  height: 100%;

  outline: 1px solid #03a9f4;
}

#menu:checked ~ .header-menu {
  display: block;
  position: fixed;

  left: 0;
  right: 0;

  box-sizing: border-box;
}

.drop-menu {
  padding: 30px 0px;
  text-align: center;

  background-color: #ffffff;
}

/* menu */

.menu {
  list-style: none;
}

.menu-list {
  padding-bottom: 10px;
}

.menu-link {
  text-decoration: none;
}

.menu-link,
.link-list {
  font-family: "Gabriela", serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  color: black;
}

.link-list {
  display: block;
}

.link-list::-webkit-details-marker {
  display: none;
}

.link-list::after {
  margin-left: 5px;

  display: inline-block;

  width: 3px;
  height: 10px;

  content: "";
  background: url("../img/caret.png") no-repeat;
  padding-right: 0.5em;
  background-size: 10px;

  transform: rotateZ(90deg);
}

.list[open] > summary::after {
  content: "";
  background: url("../img/caret.png") no-repeat;
  background-size: 10px;

  transform: rotateZ(-90deg);
  translate: 0px 3px;
}

.list-menu {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.nav-footer {
  height: 100%;
  background-color: #d7dcdf;
  opacity: 0.8;
}

@media (min-width: 620px) {
  /* header logo */

  .logo {
    width: 25%;
  }

  .title {
    font-size: 25px;
  }

  .logo-img {
    width: 50px;
    height: 50px;
  }

  /* header menu */

  .burger {
    display: none;
  }

  .header-menu {
    margin: 0px;
    min-width: 400px;
    display: block;
    outline: none;
  }

  .drop-menu {
    padding: 0px;
    text-align: left;
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }

  .list-menu {
    position: fixed;
  }

  .nav-footer {
    display: none;
  }

  .menu-link,
  .link-list {
    font-size: 20px;
  }

  .menu-list:nth-child(4),
  .menu-list:nth-child(5) {
    display: none;
  }

  .list-menu {
    padding: 10px 10px 10px 20px;
    width: 170px;
    background-color: #ffffff;
    border: 1px solid #03a9f4;
    border-radius: 16px;
  }
}
