/* mixin */
@import "mixin.scss";

/* header logo */

.nav,
.logo-href {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 30%;
}

.logo-href {
  color: #03a9f4;
  text-decoration: none;
}

.title {
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 0.65;
  padding-top: 12px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

/* header menu */
.main-nav {
  position: relative;

  &:hover .header-menu {
    opacity: 1;
  }
}

.burger {
  padding-top: 15px;

  width: 20px;
  height: 20px;

  display: block;
  background-color: #ffffff;
  border: none;
}

.burger span {
  width: 18px;
  height: 2px;

  display: block;

  background-color: #03a9f4;
}

.burger::before {
  margin-bottom: 3px;
  background-color: #03a9f4;
}

.burger::after {
  margin-top: 3px;
  background-color: #03a9f4;
}

.burger::before,
.burger::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
}

.drop-menu {
  position: fixed;

  right: 0;
  top: 40px;

  padding: 30px 10px;

  width: 250px;

  background-color: #ffffff;
  outline: 1px solid #03a9f4;
  border-radius: 16px;
}

.header-menu {
  opacity: 0;
}

/* menu */

.menu {
  list-style: none;
}

.menu-list {
  padding-bottom: 10px;
}

.menu-link {
  text-decoration: none;
}

.menu-link,
.link-list {
  @include font(25px, black);
}

.link-list {
  display: block;
}

.link-list::-webkit-details-marker {
  display: none;
}

.link-list::after {
  margin-left: 5px;

  display: inline-block;

  width: 20px;
  height: 20px;

  content: "";
  background: url("../img/caret.png") no-repeat;
  padding-right: 0.5em;
  background-size: 15px;

  transform: rotateZ(90deg);
  translate: 0px 10px;
}

.list[open] > list-link::after {
  content: "";
  background: url("../img/caret.png") no-repeat;
  background-size: 15px;

  transform: rotateZ(-90deg);
  translate: 0px -2px;
}

.list-menu {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 620px) {
  /* header logo */

  .logo {
    width: 25%;
  }

  .title {
    font-size: 25px;
  }

  .logo-img {
    width: 50px;
    height: 50px;
  }

  /* header menu */

  .burger {
    display: none;
  }

  .header-menu {
    opacity: 1;
  }

  .drop-menu {
    position: relative;
    top: 0;
    right: 5px;

    padding: 0px;
    margin: 0px;

    min-width: 470px;

    border-radius: inherit;
    outline: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }

  .list-menu {
    position: fixed;
  }

  .menu-link,
  .link-list {
    font-size: 20px;
  }

  .menu-list:nth-child(4),
  .menu-list:nth-child(5) {
    display: none;
  }

  .list-menu {
    padding: 10px 10px 10px 20px;
    width: 170px;
    background-color: #ffffff;
    border: 1px solid #03a9f4;
    border-radius: 16px;
  }
}
