/* mixin */
@import "mixin.scss";

.main-info {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;

  background-color: #fff6ef;

  outline: 1px solid green;
}
.main-info-desc,
.main-text-item {
  @include font();

  padding: 20px 0px;

  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-content: center;
}

.main-text-item {
  padding: 50px 20px;
}

.main-info-title {
  text-align: center;
}

.link-choose-item {
  @include link-border-swadow(220px, 80px);

  &:hover .item-link-title {
    color: #03a9f4;
  }
}

.item-link-title {
  @include font(18px);

  transition: 1s;
}

.main-info-img {
  width: 280px;
  object-fit: cover;

  align-self: center;
}

@media (min-width: 620px) {
  .main-info {
    flex-direction: inherit;
  }

  .main-info-desc {
    padding: 20px;
  }

  .main-info-img {
    padding-top: 20px;

    width: 350px;
  }
}
