/* variables */
$primory-color: #03a9f4;
$main-background-color: #fff6ef;

/* mixin */
@import "mixin.scss";

.main-info-header {
  background-color: $main-background-color;

  /* outline: 1px solid green; */
}

.main-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.main-info-title,
.desc-title {
  @include font(20px);
}

.main-info-desc,
.main-text-item {
  @include font();

  padding: 20px 0px;

  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-content: center;
}

.main-text-item {
  padding: 50px 20px;
}

.main-info-title {
  text-align: center;
}

.link-choose-item {
  @include basic-btn(220px, 80px);

  &:hover .item-link-title {
    color: $primory-color;
  }
}

.item-link-title {
  @include font(18px);

  transition: 1s;
}

.main-info-img {
  width: 280px;
  object-fit: cover;

  align-self: center;
}

@media (min-width: 620px) {
  .main-info-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-info-desc {
    padding: 20px;
  }

  .main-info-img {
    padding-top: 20px;

    width: 350px;
  }
}
