/* mixin */
@import "mixin.scss";

.main-container {
  background-color: #fff6ef;

  outline: 1px solid green;
}

.main-info {
  padding-top: 20px;
  @include font();

  align-content: center;
}

.main-info-title {
  text-align: center;
}

.main-info-img {
  width: 280px;
  object-fit: cover;
}

@media (min-width: 620px) {
  .main-container {
    display: flex;
  }

  .main-info {
    padding: 20px;
  }
}
