/* mixin */
@mixin hidden($width: 1px, $height: 1px) {
  position: absolute;
  left: -9999px;
  width: $width;
  height: $height;
  opacity: 0;
  visibility: hidden;
}

@mixin font($size: 14px, $color: black) {
  font-family: "Gabriela", serif;
  font-size: $size;
  font-weight: 400;
  font-style: normal;

  color: $color;
}

@mixin basic-border($width: 265px, $height: 100px) {
  padding: 10px;

  width: $width;
  height: $height;

  border-radius: 16px;

  outline: 1px solid #03a9f4;

  display: flex;
  justify-content: space-between;

  align-content: center;
}

@mixin link-border-swadow($width: 265px, $height: 100px) {
  width: $width;
  height: $height;

  display: block;
  align-content: center;
  text-align: center;

  text-decoration: none;

  background-color: #ffffff;
  outline: 2px solid #03a9f4;
  border-radius: 16px;

  transition: 1s;

  &:hover {
    outline: 2px solid #ffffff;
    box-shadow: 3px 3px 3px 3px #03a9f4;
  }
}

@mixin arrow($width: 20px, $height: 20px, $size: 15px, $rotate: 90deg) {
  width: $width;
  height: $height;

  content: "";
  background: url("../img/caret.png") no-repeat;
  padding-right: 0.5em;
  background-size: $size;

  transform: rotateZ($rotate);

  display: inline-block;
}
