/* variables */
$primory-color: #03a9f4;

/*mixin */
@import "mixin.scss";

/* section reviews */
.reviews {
  display: flex;
  justify-content: center;
}

.reviews-container {
  padding: 50px 0px;

  min-width: 280px;
  max-width: 450px;
}

.reviews-title {
  padding-bottom: 20px;

  @include font(18px, $primory-color);
  text-align: center;
}

.item-name,
.guide-name,
.review-date {
  color: rgb(33 37 41 / 75%);
}

/* review-cart-slider */

.review-cart-slider {
  padding: 10px 20px;

  min-width: 240px;

  border: none;
  align-items: center;
}

.review-cart-text {
  margin: 20px;
  padding: 40px;

  @include border-blue(240px, 450px);

  @include font(14px, $primory-color);

  flex-direction: column;
}

.review-text {
  padding-top: 20px;

  color: black;
  flex-grow: 1;
}

.item-name,
.guide-name,
.review-date {
  font-size: 12px;
}

.review-date {
  text-align: end;
}

.span-guide-name {
  padding-right: 5px;
}

.arrow-left {
  @include arrow(20px, 20px, 20px, 0deg);
  translate: 15px 0px;
}

.arrow-right {
  @include arrow(20px, 20px, 20px, -180deg);

  translate: -15px 0px;
}

/* review-cart */
.review-cart {
  margin-bottom: 20px;

  @include border-blue(100%, 100%);

  @include font(14px, $primory-color);

  flex-direction: column;
}

@media (min-width: 420px) {
  .review-cart-text {
    width: 300px;
    height: 350px;
  }
}

@media (min-width: 620px) {
  .reviews-title {
    font-size: 20px;
  }

  .review-cart-text {
    width: 380px;
    height: 300px;
  }

  .review-author-name,
  .review-text {
    font-size: 16px;
  }

  .item-name,
  .guide-name,
  .review-date {
    font-size: 14px;
  }

  .arrow-right {
    translate: -20px 0px;
  }
  .arrow-left {
    translate: 20px 0px;
  }
}

@media (min-width: 1024px) {
  .reviews-title {
    font-size: 25px;
  }

  .review-author-name,
  .review-text {
    font-size: 20px;
  }

  .item-name,
  .guide-name,
  .review-date {
    font-size: 16px;
  }
}
