/*mixin */
@import "mixin.scss";

/* section reviews */
.reviews {
  display: flex;
  justify-content: center;
}

.reviews-container {
  padding: 50px 0px;

  min-width: 280px;
  max-width: 450px;
}

.review-slider {
}

.reviews-title {
  padding-bottom: 20px;

  @include font(18px, #03a9f4);
  text-align: center;
}

/* review-cart */

.review-cart {
  padding: 10px 20px;

  min-width: 240px;

  border: none;
  align-items: center;
}

.review-cart-text {
  margin: 20px;
  padding: 40px;

  @include basic-border(240px, 450px);

  @include font(14px, #03a9f4);

  flex-direction: column;
}

.review-text {
  color: black;
  flex-grow: 1;
}

.item-name,
.guide-name,
.review-date {
  font-size: 12px;
}

.review-date {
  text-align: end;
}

.span-guide-name {
  padding-right: 5px;
}

.arrow-left {
  background: url(../img/caret.png) no-repeat;
  background-size: 20px;
  translate: 15px 0px;
}

.arrow-right {
  background: url(../img/caret.png) no-repeat;
  background-size: 20px;

  transform: rotate(-180deg);
  translate: -15px -12px;
}

@media (min-width: 420px) {
  .review-cart-text {
    width: 300px;
    height: 350px;
  }
}

@media (min-width: 620px) {
  .reviews-title {
    font-size: 20px;
  }

  .review-cart-text {
    width: 450px;
    height: 300px;
  }

  .review-author-name,
  .review-text {
    font-size: 16px;
  }

  .item-name,
  .guide-name,
  .review-date {
    font-size: 14px;
  }

  .arrow-right {
    translate: -20px -12px;
  }
  .arrow-left {
    translate: 20px 0px;
  }
}

@media (min-width: 1024px) {
  .reviews-title {
    font-size: 25px;
  }

  .review-author-name,
  .review-text {
    font-size: 20px;
  }

  .item-name,
  .guide-name,
  .review-date {
    font-size: 16px;
  }
}
