/* variables */
$primory-color: #03a9f4;

/*mixin */
@import "mixin.scss";

/* section reviews */
.reviews {
  display: flex;
  justify-content: center;
}

.reviews-container {
  padding: 50px 0px;
}

.reviews-title {
  padding-bottom: 20px;

  @include font(18px, $primory-color);
  text-align: center;
}

.item-name,
.guide-name,
.review-date {
  color: rgb(33 37 41 / 75%);
}

/* review-cart-slider */

.review-cart-slider {
  padding: 10px 20px;

  min-width: 240px;

  border: none;
  align-items: center;
}

.review-cart-text {
  margin: 20px;
  padding: 40px;

  @include border-blue(200px, 450px);

  @include font(14px, $primory-color);

  flex-direction: column;
}

.review-text {
  padding-top: 20px;

  color: black;
  flex-grow: 1;
}

.item-name,
.guide-name,
.review-date {
  font-size: 12px;
}

.review-date {
  text-align: end;
}

.span-guide-name {
  padding-right: 5px;
}

.arrow-left,
.arrow-right {
  width: 20px;
  height: 20px;
}

.arrow-left {
  background: url("../img/icon-arrow-left.png") no-repeat;
  background-size: 100%;
  translate: -10px 0px;
}

.arrow-right {
  background: url("../img/icon-arrow-right.png") no-repeat;
  background-size: 100%;
  translate: 10px 0px;
}

/* review-cart */
.review-cart {
  margin: 20px 10px;

  @include border-blue(100%, 100%);

  @include font(14px, $primory-color);

  flex-direction: column;
}

@media (min-width: 420px) {
  .review-cart-text {
    width: 240px;
  }
}

@media (min-width: 620px) {
  .review-cart-text {
    width: 380px;
    min-height: 350px;
  }

  .reviews-title {
    font-size: 20px;
  }

  .review-author-name,
  .review-text {
    font-size: 16px;
  }

  .item-name,
  .guide-name,
  .review-date {
    font-size: 14px;
  }

  .arrow-right {
    translate: 20px 0px;
  }

  .arrow-left {
    translate: -20px 0px;
  }
}

@media (min-width: 700px) {
  .review-cart-text {
    width: 315px;
  }

  /*.reviews-title {
    font-size: 25px;
  }

  .review-author-name,
  .review-text {
    font-size: 20px;
  }

  .item-name,
  .guide-name,
  .review-date {
    font-size: 16px;
  }*/
}
