/* variables */
$primory-color: #03a9f4;

/*mixin */
@import "mixin.scss";

.reviews-page-container {
  padding: 50px 0px;
}

.reviews-list {
  margin: 20px;
}

.add-review {
  text-align: end;
}

.review-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 10px;
}

.btn-add-review {
  border: none;
  background-color: #ffffff;
}

.add-review-icon {
  width: 25px;
  height: 25px;
}

.add-review-form {
  @include border-blue(280px, 400px);
  display: block;
}

.input-form {
  border: none;
  outline: 1px solid $primory-color;
  border-radius: 5px;
}

.input-form::placeholder {
  @include font(14px, #7b7873);
}

@media (min-width: 420px) {
  .add-review-form {
    width: 320px;
  }
}
