/* variables */
$primory-color: #03a9f4;

/*mixin */
@import "mixin.scss";

.reviews-page-container {
  padding: 50px 0px;
}

.reviews-list {
  margin: 20px;
}

/* форма отзыва */

.add-review {
  text-align: end;
}

.review-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 10px;
}

.btn-add-review {
  border: none;
  background-color: #ffffff;
}

.add-review-icon {
  width: 25px;
  height: 25px;
}

.add-review-form {
  @include border-blue(280px, 550px);
  display: block;
}

.input-form,
.textea-form {
  padding: 10px;

  @include font();

  border: none;
  outline: 1px solid $primory-color;
  border-radius: 5px;
}

.input-form::placeholder,
.textea-form::placeholder {
  padding: 10px;

  @include font(14px, #7b7873);
}

.textea-form {
  resize: none;
}

.form-btn {
  padding-top: 10px;

  display: flex;
  justify-content: space-between;
}

.review-form-btn {
  border: none;
  @include basic-btn(120px, 50px);
  @include font(16px, $primory-color);
}

@media (min-width: 420px) {
  .add-review-form {
    width: 320px;
  }

  .review-form-btn {
    width: 140px;
  }
}
